<!doctype html>
<html>
    <head>
        <title>{{ message }}</title>
            <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script type="text/javascript" src="/static/libraries/OpenLayers-2.11/OpenLayers.js"></script>
            <script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.5"></script>
            <script type="text/javascript">

            var map;

            $(function() {
	            // easy function to zoom and center the map with the WGS 84 spatial reference system
                var zoomAndCenter = function(map, lat, lon, zoomLevel) {
                map.setCenter(
                        wgs84toMapProj(new OpenLayers.LonLat(lon,lat)), zoomLevel
                    );
                }         	
	
	            map = new OpenLayers.Map('map');
	
	            // transform proj function
	            var wgs84toMapProj = function(obj) {
		            return obj.transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject())
	            }
	
	            // OSM layer sources from MapQuest
                arrayOSM = ["http://otile1.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
                             "http://otile2.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
                             "http://otile3.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
                             "http://otile4.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png"];
                arrayAerial = ["http://oatile1.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.png",
                              "http://oatile2.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.png",
                              "http://oatile3.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.png",
                              "http://oatile4.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.png"];
               
                // define layers
                var baseOSM = new OpenLayers.Layer.OSM("MapQuest-OSM Tiles", arrayOSM);
                var baseAerial = new OpenLayers.Layer.OSM("MapQuest Open Aerial Tiles", arrayAerial);                  
	
	            // add layers and controls
	            map.addLayers([baseOSM, baseAerial]);
	            map.addControl(new OpenLayers.Control.LayerSwitcher());
	
	            // set default map layout
	            zoomAndCenter(map, 40,-100,4);
	            //map.zoomToMaxExtent();
	
	            // add marker layer	
	            var markers = new OpenLayers.Layer.Markers( "Markers" );
	            map.addLayer(markers);
	
	            /* define geocoder object */
	            var geocoder = new esri.tasks.Locator(
               		"http://tasks.arcgisonline.com/ArcGIS/rest/services/Locators/TA_Address_NA_10/GeocodeServer"
	            );
	
	            /* geocoding function */	
	            var geocode = function(address) {
		            geocoder.addressToLocations({SingleLine:address, Country:'US'}, ["Loc_name", "State"], gcCallback)
	            }

                var get_api_endpoint = function() {
                    if('{{county}}' != '') {
                        return '/api/{{county}}/County/{{state}}';
                    } else {
                        return '/api/{{state}}';    
                    }
                } //endf

                var display_info = function() {
                    $.getJSON(get_api_endpoint(), function(data){
                        $('#vid-req').text(data.results.vid_req);
                        $('#bc-req').text(data.results.bc_req);
                        $('#bc-online-inst').text(data.results.bc_online_inst);
                        $('#bc-mail-inst').text(data.results.bc_mail_inst);
                        $('#bc-in-person-cost').text(data.results.bc_in_person_cost);
                    });
                }
	
	            /* callback for the geocoder */
	            var gcCallback = function(candidates) {
		            // display address, lat, lon
		            $('#formatted-address').text(candidates[0]['address']
			            +' ('+candidates[0]['location']['y'] //lat
			            +', '+candidates[0]['location']['x'] //lon
			            +')');

		            // zoom map to location
		            zoomAndCenter(map, candidates[0]['location']['y'], candidates[0]['location']['x'], 9);
		
		            // mark user's address
		            var size = new OpenLayers.Size(21,25);
		            var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
		            var icon = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker.png', size, offset);
		            markers.addMarker(new OpenLayers.Marker(wgs84toMapProj(new OpenLayers.LonLat(candidates[0]['location']['x'],candidates[0]['location']['y'])),icon));

		            // add markers for places to get documentation
		
	            } //end geocoder callback
	
	            $('#address-form').submit( function() {
		            geocode($.trim($('#address').val())); // geocode using the address the user entered
		            return false; // prevent form from sending HTTP request
	            });

                display_info();

                /*
                if('{{county}}' != '') {
                    geocode('{{county}} {{state}}');
                } else {
                    geocode('{{state}}');;
	            }
                */
            });

            </script>
    </head>
    <body>
        <h1>{{ message }}</h1>
        <h3 id="vid-req-head">Requirements to obtain a voter ID:</h3>
        <p id="vid-req"></p>
        <h3 id="bc-req-head">Requirements to obtain a birth certificate:</h3>
        <p id="bc-req"></p>
        <h3 id="bc-mail-inst-head">Birth certificate by mail:</h3>
        <p id="bc-mail-inst"></p>
        <h3 id="bc-online-inst-head">Birth certificate online:</h3>
        <p id="bc-online-inst"></p>
        <h3 id="bc-in-person-head">Birth certificate in person:</h3>
        <p >Cost: <span id="bc-in-person-cost"></span></p>
        <!--
        <h3 id="map-directions">Click your location on the map, or type in your address:</h3>
        <form id="address-form">
            <p>
                <input id="address" name="address" type="search" placeholder="Ex: 501 Auburn Avenue NE, Atlanta, GA" style="width:300px;"/>
                <input type="submit" name="submit-address" id="submit-address" value="Search" />
            </p>
        </form>        
        -->
        <div id="map"></div>
        <div class="footer">
        <p class="smaller"><br />
        Built at RHoK Global Philadelphia 2011. Check out our project on <a href="#">GitHub</a>.<br />
        Data provided by the <a href="http://866ourvote.org/">Lawyers' Committee for Civil Rights Under Law</a>. <br />
        Map built with <a href="http://openlayers.org/">OpenLayers</a> and powered by <a href="http://mapquest.com">MapQuest</a>. Geocoding by <a href="http://esri.com/">Esri</a>.
        </div>
    </body>
</html>
